body {
  margin: 0;
  padding: 0;
}

.s1-4 {
  width: 25%;
}
.s2-4 {
  width: 50%;
}
.s3-4 {
  width: 75%;
}
.s4-4 {
  width: 100%;
}

.calc-container {
  width: 400px;
  border-left: 1px solid rgb(134, 32, 44);
  border-right: 1px solid rgb(134, 32, 44);
}

.calc-buttons {
  display: flex;
  flex-wrap: wrap;
}

.calc-screen {
  background: rgb(65, 53, 56);
  color: #fff;
  font-size: 3em;
  font-family: sans-serif;
  text-align: right;
  padding: 0.5em 0.25em;
}

.btn-clear {
  height: 100px;
  color: rgb(82, 82, 82);
  font-size: 2em;
  font-family: monospace;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(134, 32, 44);
}

.btn-math {
  height: 100px;
  color: #fff;
  background: rgb(223, 63, 84);
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(134, 32, 44);
}

.btn-num {
  height: 100px;
  color: rgb(41, 41, 41);
  font-size: 4em;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(134, 32, 44);
}

.btn-clear:hover,
.btn-num:hover {
  background: #ecf0f1;
}

.btn-math:hover {
  background: rgba(235, 73, 94);
}

.calc-screen:hover {
  cursor: default;
}

.btn-clear:hover,
.btn-math:hover,
.btn-num:hover {
  cursor: pointer;
}
